openapi: 3.1.1
info:
  title: Chat's TierList
  version: 0.1.0
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: chatsTierListSessionId
  schemas:
    def-0:
      type: object
      properties:
        statusCode:
          type: number
        code:
          type: string
        error:
          type: string
        message:
          type: string
      title: HttpError
paths:
  /tierlist:
    put:
      operationId: setTierList
      summary: Overwrite entire tier list
      tags:
        - Tier List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - tier_list
              properties:
                tier_list:
                  type: object
                  required:
                    - tiers
                    - items
                  properties:
                    tiers:
                      type: object
                      maxProperties: 50
                      description: Max 50 tiers
                      additionalProperties:
                        type: object
                        properties: {}
                    items:
                      type: object
                      maxProperties: 500
                      description: Max 500 items
                      additionalProperties:
                        type: object
                        properties:
                          image_url:
                            type: string
                            minLength: 1
                            maxLength: 255
                            description: Image URL
        required: true
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - tier_list
                properties:
                  tier_list:
                    type: object
                    required:
                      - tiers
                      - items
                      - isVoting
                      - focus
                      - version
                    properties:
                      tiers:
                        type: array
                        items:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: string
                              description: Entity's id
                            name:
                              type: string
                              minLength: 1
                              maxLength: 255
                              description: Name of the tier
                      items:
                        type: object
                        additionalProperties:
                          type: object
                          required:
                            - id
                            - imageUrl
                            - votes
                          properties:
                            id:
                              type: string
                              description: Entity's id
                            imageUrl:
                              anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: "null"
                              description: Image URL
                            votes:
                              type: object
                              additionalProperties:
                                type: number
                                description: Tier index
                      isVoting:
                        type: boolean
                        description: Whether votes should be parsed or ignored
                      focus:
                        anyOf:
                          - type: string
                          - type: "null"
                        description: Name of the item to focus
                      version:
                        type: number
                        description: Version number of the list
    patch:
      operationId: updateTierList
      summary: Update settings on the tier list
      tags:
        - Tier List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                focus:
                  anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                      description: Name of the item to focus
                    - type: "null"
                is_voting:
                  type: boolean
                  description: Determine whether votes should be parsed or ignored
      security:
        - cookieAuth: []
      responses:
        "204":
          description: Successfully updated settings on the tier list
        "404":
          description: Focus target does not exist
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                description: Focus target does not exist
  /tierlist/tier:
    post:
      operationId: addTier
      summary: Add a new tier
      tags:
        - Tier List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the tier
        required: true
      security:
        - cookieAuth: []
      responses:
        "201":
          description: Entity's id
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    description: Entity's id
                description: Entity's id
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                description: Conflict
  /tierlist/tier/{id}:
    patch:
      operationId: updateTier
      summary: Update an existing tier
      tags:
        - Tier List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the tier
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
          description: Entity's id
      security:
        - cookieAuth: []
      responses:
        "204":
          description: Successfully updated tier
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                description: Conflict
  /tierlist/item:
    post:
      operationId: addItem
      summary: Adds a new item
      tags:
        - Tier List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the item
                image_url:
                  anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                      description: Image url of the item
                    - type: "null"
        required: true
      security:
        - cookieAuth: []
      responses:
        "201":
          description: Entity's id
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    description: Entity's id
                description: Entity's id
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                description: Conflict
  /tierlist/item/{id}:
    patch:
      operationId: updateItem
      summary: Updates an item
      tags:
        - Tier List
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the item
                image_url:
                  anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                      description: Image url of the item
                    - type: "null"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
          description: Entity's id
      security:
        - cookieAuth: []
      responses:
        "204":
          description: Successfully updated item
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                description: Conflict
    delete:
      operationId: deleteItem
      summary: Deletes an item
      tags:
        - Tier List
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
          description: Entity's id
      security:
        - cookieAuth: []
      responses:
        "204":
          description: Successfully deleted item
  /logout:
    post:
      operationId: logOutUser
      summary: Signs out the user
      tags:
        - Auth
      responses:
        "200":
          description: Successfully logged out
  /auth/me:
    get:
      operationId: getUserProfile
      summary: Gets the authenticated user's profile
      tags:
        - Auth
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - twitch_id
                      - name
                      - display_name
                      - profile_image_url
                    properties:
                      twitch_id:
                        type: string
                      name:
                        type: string
                      display_name:
                        type: string
                      profile_image_url:
                        type: string
                        format: url
servers:
  - url: http://localhost:3000
    description: Development server

