@import 'tailwindcss';

@font-face {
  font-family: Lexend Deca;
  src: url('/fonts/LexendDeca-VariableFont_wght.ttf');
  font-display: swap;
}

@theme {
  --color-accent: oklch(54.1% 0.281 293.009);
  --color-surface: oklch(27.9% 0.041 260.031);
  --color-surface-light: oklch(37.3% 0.034 259.733);
  --color-muted: oklch(70.7% 0.022 261.325);
  --color-danger: oklch(35.21% 0.108 20.33);
  --color-danger-light: oklch(38.33% 0.142 22.66);

  --animate-fadeIn: fadeIn 150ms ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
}

body {
  @apply bg-gray-900 text-gray-50 selection:bg-violet-500;
}

button {
  cursor: pointer;
}

button,
input {
  user-select: none;
}

.redBall {
  background-color: red;
  box-shadow: 0 0 50vh min(30vw, 30vh) red;
}

.greenBall {
  background-color: rgb(35, 237, 13);
  box-shadow: 0 0 50vh min(25vw, 25vh) rgb(35, 237, 13);
}

.yellowBall {
  background-color: yellow;
  box-shadow: 0 0 50vh min(30vw, 30vh) yellow;
}

.redBall,
.greenBall,
.yellowBall {
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: 80vw;
  } /* adjust distance as needed */
}

.ballsContainer {
  animation: moveRight 30s linear infinite alternate;
}
